

body {
    background-image: url('https://scx1.b-cdn.net/csz/news/800/2017/theoreticala.jpg');
    color: #FFFFFF;
}


#container {
    width: 800px;
    height: 600px;
    position: relative;
    background: yellow;
  }

#animate, #leftPalette, circle {
    width: 200px;
    height: 50px;
    position: absolute;
    background: red;
    top: 550px;
    left: 150px;
    border-radius: 25px;
    transform-origin: bottom left;
  }


#rightPalette {
    width: 200px;
    height: 50px;
    position: absolute;
    background: red;
    top: 550px;
    left: 450px;
    border-radius: 25px;
    transform-origin: bottom right;

}  

/* .rotatedLeft {
    transform: rotate(-45deg);
  }

.rotatedRight {
transform-origin: bottom right;
transform: rotate(45deg);
}
 */

.rotatedIniLeft {
transform: var(--angleL);
}

.rotatedIniRight {

transform: var(--angleR);
}

.rotateBall {
	transform: var(--angleBall);
}

#ball {
	height: 64px;
	width: 64px;
	border-radius: 50%;
	position: fixed;
	top: calc(50%);
	left: calc(50%);
	/* top: calc(50% - 15px);
	left: calc(50% - 15px); */
	border: 3px solid rgb(243, 49, 49);
	font-size: 2em;
	/* background-color: aquamarine; */
	background-image: linear-gradient(rgb(186, 65, 230), aquamarine);
	overflow: hidden;
	background-position: 50% 50%;
	background-size: cover;

  }


#triangle {
	fill:lime;
	stroke:purple;
	stroke-width:3
  }

.tableScore {
	fill:rgb(3, 88, 3);
	stroke:purple;
	stroke-width:3
}


.lose {
	color: firebrick;
	position: absolute;
	top: 200px;
	left: 150px;
	font-size: 5rem;
	justify-content: center;
	align-items: center;
	margin: 0;
	font-family: 'Hind', sans-serif;
}

.score {
	color: rgb(34, 178, 123);
	position: absolute;
	top: 350px;
	left: 200px;
	font-size: 3rem;
	justify-content: center;
	align-items: center;
	margin: 0;
	font-family: 'Hind', sans-serif;
}

#timer {
	z-index: 1;
	color: rgb(168, 132, 238);
	position: absolute;
	top: 389px;
	left: 977px;
	width: 196px;
	font-size: 2rem;
	display: flex;
	text-align: right;
	justify-content: right;
	align-items: right;
	margin: 0;
	background-color: black;
	font-family: sans-serif;
}

#tableScore {
	fill:rgb(33, 228, 134);
	stroke:purple;
	stroke-width:3
}

#tableScore2 {
	position: absolute;
	top: 0px;
	left: 900px;
	width: 288px;
	height: 600px;
	border: 3px solid rgb(243, 49, 49);
	background-color: rgb(255, 191, 127);
}

#logo {
	position: relative;
	top: 0px;
	left: 100px;
	width: 400px;
	height: 100px;
}
